nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:pink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;

}

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aout-col-1{
    flex-basis: 35%;

}
.aout-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.aout-col-2{
    flex-basis:60%;
}
.aout-col-2 h1{
    font-size: 40px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    
    margin: 20px 0 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 4px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.4s;
}
.tab-link.active::after{
    width:50%;
}
.tab-contents ul li{
    margin: 10px 0;
    list-style:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tab-contents ul li span{
    color:#b54769;
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}